redirectmatch gone ^/favicon.ico
redirectmatch gone ^/home/lmartin/aleph0.com/Wendy%2520and%2520Zoey.png
redirectmatch gone ^/~lindsey/Wendy%20and%20Zoey.png
redirectmatch gone ^/img/getfirefox.gif
redirectmatch gone ^/archives/getfirefox.gif
redirectmatch gone ^/computing/macosx/<span
redirectmatch gone ^/computing/macosx/dhcp-setup/?$
redirectmatch gone ^/openbsd/lynx-tcpdump-35v36.tar.gz
redirectmatch gone ^/computing/machines/dave/i386-laptop.html.patch
redirectmatch gone ^/computing/macosx/dhcp/?$
redirectmatch gone ^/computing/macosx/dhcp-setup/?$
redirectmatch gone ^/users.html
redirectmatch gone ^/users/?$
redirectmatch gone ^/infinit/?$
redirectmatch gone ^/computing/linux/?$
redirectmatch gone ^/linux/?$
redirectmatch gone ^/openbsd/?$
redirectmatch gone ^/computing/openbsd/?$
redirectmatch gone ^/norightsreserved/?$
redirectmatch gone ^/NoRightsReserved/?$
redirectmatch gone ^/reading.html
redirectmatch gone ^/reading/?$
redirectmatch gone ^/~dan/?$
redirectmatch gone ^/~dwarren/?$
redirectmatch gone ^/computing/machines/dave/?$
redirectmatch gone ^/computing/openbsd/inspiron-1000/?$
redirectmatch gone ^/computing/dev/?$
redirectmatch gone ^/computing/?$
redirectmatch gone ^/computing/index-old.html
redirectmatch gone ^/computing/linux/cygwin/?$
redirectmatch gone ^/computing/rxvt-max/?$
redirectmatch gone ^/computing/rxvt-max/src/?$
redirectmatch gone ^/computing/rxvt-max/rxvt-max-2.7.10-3.diff
redirectmatch gone ^/computing/openbsd/bugs(/.*)*$
redirectmatch gone ^/computing/openbsd/?$
redirectmatch gone ^/computing/openbsd/laptop/?$
redirectmatch gone ^/computing/openbsd/inspiron-1000/?$
redirectmatch gone ^/computing/rxvt-max/rxvt-2.7.10-3-src.tar.bz2
redirectmatch gone ^/computing/rxvt-max/?$
redirectmatch gone ^/computing/openbsd/dualboot.html
redirectmatch gone ^/computing/openbsd/dualboot/?$
redirectmatch gone ^/computing/openbsd/inspiron-1000/OpenBSD-3.8-dhcp-bug-tcpdump
redirectmatch gone ^/computing/openbsd/?$
redirectmatch gone ^/cal/?$
redirectmatch gone ^/quickstart.html
redirectmatch gone ^/img/molly-first-65.m4v
redirectmatch gone ^/social/?$
redirectmatch gone ^/users/?$
redirectmatch gone ^/reading/?$
redirectmatch gone ^/img/anybrowser.png
redirectmatch gone ^/img/css.png
redirectmatch gone ^/img/xhtml10.png
redirectmatch gone ^/archives/?$
redirectmatch gone ^/computing/phpinfo.php
redirectmatch gone ^/computing/network.png
redirectmatch gone ^/computing/bugreports/?$
redirectmatch gone ^/computing/components/?$
redirectmatch gone ^/computing/html/?$
redirectmatch gone ^/computing/machines/?$
redirectmatch gone ^/computing/windows/?$
redirectmatch gone ^/computing/dashvo/?$
redirectmatch gone ^/computing/openbsd/inspiron-1000/ownersmanual.pdf
redirectmatch gone ^/computing/openbsd/inspiron-1000/ownersmanualupdate-harddriveremoval.pdf
redirectmatch gone ^/computing/openbsd/inspiron-1000/setupsheet.pdf
redirectmatch gone ^/computing/macosx/?$
redirectmatch gone ^/computing/?$
redirectmatch gone ^/img/?$
redirectmatch gone ^/computing/?$
redirectmatch gone ^/computing/index.html
redirectmatch gone ^/computing/rxvt-max/?$
redirectmatch gone ^/computing/rxvt-max/index.html
redirectmatch gone ^/computing/rxvt-max/stylesheet.css
redirectmatch gone ^/computing/rxvt-max/rxvt-2.7.10-6-src.tar.bz2
redirectmatch gone ^/computing/rxvt-max/rxvt-max-2.7.10-6.diff
redirectmatch gone ^/computing/linux/?$
redirectmatch gone ^/computing/linux/index.html
redirectmatch gone ^/computing/linux/img/?$
redirectmatch gone ^/computing/linux/img/InfinitLogo-medium.png
redirectmatch gone ^/computing/linux/stylesheet.css
redirectmatch gone ^/computing/openbsd/?$
redirectmatch gone ^/computing/openbsd/index.html
redirectmatch gone ^/computing/openbsd/inspiron-1000/?$
redirectmatch gone ^/computing/openbsd/inspiron-1000/index.html
redirectmatch gone ^/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.7
redirectmatch gone ^/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.9
redirectmatch gone ^/computing/openbsd/inspiron-1000/xorg.conf-OpenBSD-3.7
redirectmatch gone ^/computing/openbsd/inspiron-1000/xorg.conf-OpenBSD-3.9
redirectmatch gone ^/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.9-install
redirectmatch gone ^/computing/openbsd/openbsd.png
redirectmatch gone ^/computing/openbsd/dualboot/?$
redirectmatch gone ^/computing/openbsd/dualboot/index.html
redirectmatch gone ^/chjones/favicon.ico
redirectmatch gone ^/chjones/home/lmartin/aleph0.com/Wendy%2520and%2520Zoey.png
redirectmatch gone ^/chjones/~lindsey/Wendy%20and%20Zoey.png
redirectmatch gone ^/chjones/img/getfirefox.gif
redirectmatch gone ^/chjones/archives/getfirefox.gif
redirectmatch gone ^/chjones/computing/macosx/<span
redirectmatch gone ^/chjones/computing/macosx/dhcp-setup/?$
redirectmatch gone ^/chjones/openbsd/lynx-tcpdump-35v36.tar.gz
redirectmatch gone ^/chjones/computing/machines/dave/i386-laptop.html.patch
redirectmatch gone ^/chjones/computing/macosx/dhcp/?$
redirectmatch gone ^/chjones/computing/macosx/dhcp-setup/?$
redirectmatch gone ^/chjones/users.html
redirectmatch gone ^/chjones/users/?$
redirectmatch gone ^/chjones/infinit/?$
redirectmatch gone ^/chjones/computing/linux/?$
redirectmatch gone ^/chjones/linux/?$
redirectmatch gone ^/chjones/openbsd/?$
redirectmatch gone ^/chjones/computing/openbsd/?$
redirectmatch gone ^/chjones/norightsreserved/?$
redirectmatch gone ^/chjones/NoRightsReserved/?$
redirectmatch gone ^/chjones/reading.html
redirectmatch gone ^/chjones/reading/?$
redirectmatch gone ^/chjones/~dan/?$
redirectmatch gone ^/chjones/~dwarren/?$
redirectmatch gone ^/chjones/computing/machines/dave/?$
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/?$
redirectmatch gone ^/chjones/computing/dev/?$
redirectmatch gone ^/chjones/computing/?$
redirectmatch gone ^/chjones/computing/index-old.html
redirectmatch gone ^/chjones/computing/linux/cygwin/?$
redirectmatch gone ^/chjones/computing/rxvt-max/?$
redirectmatch gone ^/chjones/computing/rxvt-max/src/?$
redirectmatch gone ^/chjones/computing/rxvt-max/rxvt-max-2.7.10-3.diff
redirectmatch gone ^/chjones/computing/openbsd/bugs(/.*)*$
redirectmatch gone ^/chjones/computing/openbsd/?$
redirectmatch gone ^/chjones/computing/openbsd/laptop/?$
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/?$
redirectmatch gone ^/chjones/computing/rxvt-max/rxvt-2.7.10-3-src.tar.bz2
redirectmatch gone ^/chjones/computing/rxvt-max/?$
redirectmatch gone ^/chjones/computing/openbsd/dualboot.html
redirectmatch gone ^/chjones/computing/openbsd/dualboot/?$
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/OpenBSD-3.8-dhcp-bug-tcpdump
redirectmatch gone ^/chjones/computing/openbsd/?$
redirectmatch gone ^/chjones/cal/?$
redirectmatch gone ^/chjones/quickstart.html
redirectmatch gone ^/chjones/img/molly-first-65.m4v
redirectmatch gone ^/chjones/social/?$
redirectmatch gone ^/chjones/users/?$
redirectmatch gone ^/chjones/reading/?$
redirectmatch gone ^/chjones/img/anybrowser.png
redirectmatch gone ^/chjones/img/css.png
redirectmatch gone ^/chjones/img/xhtml10.png
redirectmatch gone ^/chjones/archives/?$
redirectmatch gone ^/chjones/computing/phpinfo.php
redirectmatch gone ^/chjones/computing/network.png
redirectmatch gone ^/chjones/computing/bugreports/?$
redirectmatch gone ^/chjones/computing/components/?$
redirectmatch gone ^/chjones/computing/html/?$
redirectmatch gone ^/chjones/computing/machines/?$
redirectmatch gone ^/chjones/computing/windows/?$
redirectmatch gone ^/chjones/computing/dashvo/?$
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/ownersmanual.pdf
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/ownersmanualupdate-harddriveremoval.pdf
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/setupsheet.pdf
redirectmatch gone ^/chjones/computing/macosx/?$
redirectmatch gone ^/chjones/computing/?$
redirectmatch gone ^/chjones/img/?$
redirectmatch gone ^/chjones/computing/?$
redirectmatch gone ^/chjones/computing/index.html
redirectmatch gone ^/chjones/computing/rxvt-max/?$
redirectmatch gone ^/chjones/computing/rxvt-max/index.html
redirectmatch gone ^/chjones/computing/rxvt-max/stylesheet.css
redirectmatch gone ^/chjones/computing/rxvt-max/rxvt-2.7.10-6-src.tar.bz2
redirectmatch gone ^/chjones/computing/rxvt-max/rxvt-max-2.7.10-6.diff
redirectmatch gone ^/chjones/computing/linux/?$
redirectmatch gone ^/chjones/computing/linux/index.html
redirectmatch gone ^/chjones/computing/linux/img/?$
redirectmatch gone ^/chjones/computing/linux/img/InfinitLogo-medium.png
redirectmatch gone ^/chjones/computing/linux/stylesheet.css
redirectmatch gone ^/chjones/computing/openbsd/?$
redirectmatch gone ^/chjones/computing/openbsd/index.html
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/?$
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/index.html
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.7
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.9
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/xorg.conf-OpenBSD-3.7
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/xorg.conf-OpenBSD-3.9
redirectmatch gone ^/chjones/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.9-install
redirectmatch gone ^/chjones/computing/openbsd/openbsd.png
redirectmatch gone ^/chjones/computing/openbsd/dualboot/?$
redirectmatch gone ^/chjones/computing/openbsd/dualboot/index.html
ErrorDocument 410 /gone.shtml
ErrorDocument 404 /notfound.shtml
