redirect gone /chjones/favicon.ico
redirect gone /chjones/home/lmartin/aleph0.com/Wendy%2520and%2520Zoey.png
redirect gone /chjones/~lindsey/Wendy%20and%20Zoey.png
redirect gone /chjones/img/getfirefox.gif
redirect gone /chjones/archives/getfirefox.gif
redirectmatch gone ^/chjones/computing/macosx/<span
redirect gone /chjones/computing/macosx/dhcp-setup
redirect gone /chjones/openbsd/lynx-tcpdump-35v36.tar.gz
redirect gone /chjones/computing/machines/dave/i386-laptop.html.patch
redirect gone /chjones/computing/macosx/dhcp
redirect gone /chjones/computing/macosx/dhcp-setup
redirect gone /chjones/users.html
redirect gone /chjones/users/
redirect gone /chjones/infinit
redirect gone /chjones/computing/linux
redirect gone /chjones/linux
redirect gone /chjones/openbsd
redirect gone /chjones/computing/openbsd
redirect gone /chjones/norightsreserved
redirect gone /chjones/NoRightsReserved
redirect gone /chjones/reading.html
redirect gone /chjones/reading/
redirect gone /chjones/~dan
redirect gone /chjones/~dwarren
redirect gone /chjones/computing/machines/dave
redirect gone /chjones/computing/openbsd/inspiron-1000
redirect gone /chjones/computing/dev
redirect gone /chjones/computing
redirect gone /chjones/computing/index-old.html
redirect gone /chjones/computing/linux/cygwin
redirect gone /chjones/computing/rxvt-max
redirect gone /chjones/computing/rxvt-max/src
redirect gone /chjones/computing/rxvt-max/rxvt-max-2.7.10-3.diff
redirectmatch gone ^/chjones/computing/openbsd/bugs(/.*)*$
redirect gone /chjones/computing/openbsd
redirect gone /chjones/computing/openbsd/laptop
redirect gone /chjones/computing/openbsd/inspiron-1000
redirect gone /chjones/computing/rxvt-max/rxvt-2.7.10-3-src.tar.bz2
redirect gone /chjones/computing/rxvt-max/
redirect gone /chjones/computing/openbsd/dualboot.html
redirect gone /chjones/computing/openbsd/dualboot/
redirect gone /chjones/computing/openbsd/inspiron-1000/OpenBSD-3.8-dhcp-bug-tcpdump
redirect gone /chjones/computing/openbsd/
redirect gone /chjones/cal
redirect gone /chjones/quickstart.html
redirect gone /chjones/img/molly-first-65.m4v
redirect gone /chjones/social
redirect gone /chjones/users
redirect gone /chjones/reading
redirect gone /chjones/img/anybrowser.png
redirect gone /chjones/img/css.png
redirect gone /chjones/img/xhtml10.png
redirect gone /chjones/archives
redirect gone /chjones/computing/phpinfo.php
redirect gone /chjones/computing/network.png
redirect gone /chjones/computing/bugreports
redirect gone /chjones/computing/components
redirect gone /chjones/computing/html
redirect gone /chjones/computing/machines
redirect gone /chjones/computing/windows
redirect gone /chjones/computing/dashvo
redirect gone /chjones/computing/openbsd/inspiron-1000/ownersmanual.pdf
redirect gone /chjones/computing/openbsd/inspiron-1000/ownersmanualupdate-harddriveremoval.pdf
redirect gone /chjones/computing/openbsd/inspiron-1000/setupsheet.pdf
redirect gone /chjones/computing/macosx
redirect gone /chjones/computing
redirect gone /chjones/img
redirect gone /chjones/computing/
redirect gone /chjones/computing/index.html
redirect gone /chjones/computing/rxvt-max/
redirect gone /chjones/computing/rxvt-max/index.html
redirect gone /chjones/computing/rxvt-max/stylesheet.css
redirect gone /chjones/computing/rxvt-max/rxvt-2.7.10-6-src.tar.bz2
redirect gone /chjones/computing/rxvt-max/rxvt-max-2.7.10-6.diff
redirect gone /chjones/computing/linux/
redirect gone /chjones/computing/linux/index.html
redirect gone /chjones/computing/linux/img/
redirect gone /chjones/computing/linux/img/InfinitLogo-medium.png
redirect gone /chjones/computing/linux/stylesheet.css
redirect gone /chjones/computing/openbsd/
redirect gone /chjones/computing/openbsd/index.html
redirect gone /chjones/computing/openbsd/inspiron-1000/
redirect gone /chjones/computing/openbsd/inspiron-1000/index.html
redirect gone /chjones/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.7
redirect gone /chjones/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.9
redirect gone /chjones/computing/openbsd/inspiron-1000/xorg.conf-OpenBSD-3.7
redirect gone /chjones/computing/openbsd/inspiron-1000/xorg.conf-OpenBSD-3.9
redirect gone /chjones/computing/openbsd/inspiron-1000/dmesg-OpenBSD-3.9-install
redirect gone /chjones/computing/openbsd/openbsd.png
redirect gone /chjones/computing/openbsd/dualboot/
redirect gone /chjones/computing/openbsd/dualboot/index.html
ErrorDocument 410 /gone.html
