/*
	This file was wholly created by Christian Jones
	(chjones@aleph0.com), and is hereby released into the public
	domain, with no rights reserved.
*/

body {
	background-color: white;
	color: black;
	font-family: sans-serif;
}

header {
	text-align: center;
}